* {
    font-family: 'Microsoft Yahei', sans-serif;
    margin: 0;
    border: 0;
    padding: 0;
}

html {
    width: 100%;
    font-size: 100px;
}

body {
    width: 100%;
}

.main {
    width: 100%;
    margin: 0 auto;
    font-size: 0;
}

/* header
-------------------------------------------------------------------------------*/

.header {
    height: 82px;

    text-align: center;
    font-size: .12rem;
    background-image: url(img/_0000_图层-85.png);
}

.header * {
    vertical-align: middle;
}

.header_empty {
    height: 80px;

    line-height: 80px;
    display: inline-block;
    vertical-align: middle;
}

.header_logo {
    height: 45px;

    vertical-align: middle;
}

.header_icon1 {
}

.header > div {
    display: inline-block;
    font-size: .14rem;
}

.header > div > a {
    border-left: 1px dotted gray;
    padding: 4px 19px;

    cursor: pointer;
    color: black;
}

.header > div > a:hover {
    background-image: url(img/_0000_圆角矩形-3.png);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.header > div > a.first {
    margin-left: 34px;
    padding-right: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: none;

    background-image: url(img/_0000s_0000s_0000_圆角矩形-3.png);
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.header input {
    width: 151px;
    height: 30px;

    margin-left: 35px;
    border: #d9d9d9 solid 1px;
}

.header_search {
    margin-right: 5px;

    cursor: pointer;
}

.header > a {
    margin-right: 10px;

    cursor: pointer;
}

/* banner
-------------------------------------------------------------------------------*/
.banner {
    width: 100%;

    margin-bottom: 20px;
}

.banner img {
    width: 100%;

    text-align: center;
}

/* container
-------------------------------------------------------------------------------*/
.container {
    width: 1000px;

    margin: 0 auto;

    text-align: center;
}

.container > div {
    display: inline-block;
    vertical-align: top;
}

/* container_login
-----------------------------------------------------------*/
.container_login {
    width: 280px;
    height: 300px;

    border: solid 1px rgb(255, 168, 73);
    margin-right: 20px;

    background: rgb(252, 237, 204);
}

.container_login > * {
    display: inline-block;
    text-align: center;
}

.container_login div {
    margin-top: 23px;
    margin-bottom: 15px;
}

.container_login span > *,
.container_login div > * {
    display: inline-block;
    vertical-align: middle;
}

.container_login div a {
    margin-left: 10px;

    font-size: .2rem;
    color: #e17f1b;
    vertical-align: middle;

}

.container_login > a.login {
    width: 100%;

    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;

    display: inline-block;
    background-image: url(img/_0000s_0006_圆角矩形-1.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: .18rem;
    color: white;
    cursor: pointer;
}

.container_login > a.sign {
    width: 100%;

    padding-top: 8px;
    padding-bottom: 8px;
    margin-bottom: 10px;

    background-image: url(img/_0000s_0005_圆角矩形-1-副本.png);
    background-repeat: no-repeat;
    background-position: center;
    font-size: .18rem;
    color: #e17f1b;
    cursor: pointer;
}

.container_login > span a {
    font-size: .13rem;
    color: #555555;
    text-decoration: none;
}

.container_login input {
    width: 230px;
    height: 36px;

    margin-bottom: 14px;
    border: solid 1px rgb(255, 168, 73);

    background: #fbe6b0;
    text-align: left;
}

/* container_news
-----------------------------------------------------------*/
.container_news {
    width: 330px;
    height: 300px;

    margin-right: 28px;

    background-image: url("img/_0000s_0004_N.png");
    background-repeat: no-repeat;
    font-size: .12rem;
}

.container_news * {
    display: inline-block;
    text-align: left;
    vertical-align: top;
}

.container_news img {
    width: 145px;
    height: 90px;

    margin-top: 56px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.container_news div {
    margin-top: 56px;

    width: 175px;
}

.container_news div > h1 {
    margin-bottom: 5px;

    font-size: .12rem;
    color: #323333;
}

.container_news div > p {
    color: #555555;
    line-height: 20px;
}

.container_news ul {
    width: 100%;

    text-align: left;
    list-style: none;
}

.container_news ul li {
    height: 30px;
    line-height: 30px;

    border-bottom: 1px gray dotted; /* 最底部边框隐藏写在 style 中 */

    vertical-align: middle;
    color: #c5c5c5;
}

.container_news ul li > a {
    width: 250px;
    color: #555555;
}

/* container_us
-----------------------------------------------------------*/
.container_us {
    width: 340px;
    height: 300px;

    background-image: url("img/_0000s_0002_A.png");
    background-repeat: no-repeat;
    font-size: .12rem;
}

.container_us > * {
    display: inline-block;
}

.container_us > h1 {
    /*news没写*/
    display: none;
    position: absolute;
}

.container_us > img {
    width: 340px;
    height: 100px;

    margin-top: 56px;
    margin-bottom: 5px;
}

.container_us > p {
    vertical-align: middle;
    text-align: left;
    line-height: 20px;
}

.container_us > a {
    height: 25px;
    width: 70px;

    margin-top: 20px;

    line-height: 25px;
    background: #e07019;
    color: white;
    cursor: pointer;
}

/* container_banner
-----------------------------------------------------------*/

.container_banner1 {
    margin-top: 15px;
    margin-bottom: 15px;
}

.container_banner1 img {
    width: 100%;
}

.container_banner2 img {
    width: 100%;

    margin-top: 16px;
    margin-bottom: 16px;
}

/* container_content
-----------------------------------------------------------*/
.container_content {
}

.container_content * {
    display: inline-block;
}

/* container_content_left
---------------------------------------*/

.container_content_left {
    width: 240px;

    vertical-align: top;
    text-align: left;
    margin-right: 15px;

}

.container_content_left .teacher {
    width: 240px;
    height: 516px;

    background: url(img/_0000_图层-1.png);
    font-size: .16rem;
    text-align: center;
}

.container_content_left .teacher .title {
    height: auto;

    border: none;
    margin-top: 20px;
    margin-bottom: 15px;
    margin-left: 7px;

    line-height: .16rem;
    background: none;
    text-align: left;
}

.container_content_left .teacher > div {
    width: 210px;
    height: 60px;

    margin-bottom: 4px;
    border: 1px solid #d8d8d8;

    background: white;
}

.container_content_left .teacher > div > span {
    width: 152px; /* a 文字介绍宽度 a b c d 四项相加 210px */
    height: 30px;

    border-left: 5px solid; /* b 左边框宽度*/
    margin-top: 15px;

    vertical-align: top;
    text-align: left;
    line-height: 30px;

}

.container_content_left .teacher > div > span > a {
    margin-left: 10px;
}

.container_content_left .teacher > div > span > p {
    margin-left: 5px;

    color: #999899;
    font-size: .12rem;
}

.container_content_left .teacher > div > img {
    width: 48px; /* c 图片宽度*/

    margin-right: 5px; /* d 右留白宽度*/
    margin-top: 6px;
}

.container_content_left .student {
    width: 100%;
    height: 385px;

    border: 1px solid #d8d8d8;
    margin-top: 16px;

}

.container_content_left .student h1 {
    width: 220px;
    height: 45px;

    border-left: solid 4px #e17e1c;
    padding-left: 16px;

    font-size: .2rem;
    font-weight: 500;
    background: url(img/_0000_图层-1.png);
    line-height: 45px;
    color: #323333;
}

.container_content_left .student ul li {
    width: 225px;
    height: 32px;

    border-bottom: dotted 1px #c5c5c5;
    padding-left: 15px;

    font-size: .12rem;
    line-height: 32px;
    color: #555555;
}

/* container_content_left
---------------------------------------*/

.container_content_right {
    width: 745px;
}

.container_content_right * {
    display: inline-block;
}

.container_content_right .new {
    width: 100%;
    height: 385px;

    border: 1px solid #d8d8d8;
    margin-bottom: 16px;

    text-align: center;
}

.container_content_right .new > h1 {
    width: 186px;
    height: 50px;

    border-bottom: 4px solid #e17e1b;
    border-right: solid 1px #e1e1e1;

    background: url(img/_0000_图层-1.png);
    vertical-align: top;
    font-size: .22rem;
    color: #e17f1b;
    line-height: 50px;
    font-weight: 500;
}

.container_content_right .new > p {
    width: 558px;
    height: 50px;

    border-bottom: 4px solid #cecece;

    vertical-align: top;
    color: #999899;
    font-size: .12rem;
    line-height: 50px;
    text-align: right;
}

.container_content_right .new > img {
    margin-top: 20px;
    margin-right: 7px;
    margin-left: 7px;

    cursor: pointer;
}

.container_content_right .new > a {
    width: 165px;

    margin-top: 8px;
    margin-right: 7px;
    margin-left: 7px;

    font-size: .12rem;
    color: #555555;
}

.container_content_right .classic {
    width: 100%;
    height: 515px;

    border: 1px solid #d8d8d8;

}

.container_content_right .classic > h1 {
    width: 186px;
    height: 50px;

    border-bottom: 4px solid #e17e1b;
    border-right: solid 1px #e1e1e1;

    background: url(img/_0000_图层-1.png);
    vertical-align: top;
    font-size: .22rem;
    color: #e17f1b;
    line-height: 50px;
    font-weight: 500;
}

.container_content_right .classic > p {
    width: 558px;
    height: 50px;

    border-bottom: 4px solid #cecece;

    vertical-align: top;
    color: #999899;
    font-size: .12rem;
    line-height: 50px;
    text-align: left;
}

.container_content_right .classic > p > a {
    width: 96px;
    height: .14rem;
    line-height: .14rem;

    border-right: dotted 1px #bbbbba;

    text-align: center;
    font-size: .14rem;
    cursor: pointer;
}

.container_content_right .classic > p > a.first {
    color: #e17f1b;
}

.container_content_right .classic > img {
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 20px;

    cursor: pointer;
}

.container_content_right .classic > a {
    width: 220px;

    padding-left: 10px;
    padding-right: 10px;
    margin-top: 15px;
    padding-bottom: 20px;
    border-bottom: dotted 1px #c9c9c9;

    font-size: .13rem;
}

/* container_corp
-----------------------------------------------------------*/
.container_corp {
    width: 100%;
    height: 70px;

    border: 1px solid #d8d8d8;
    margin-top: 16px;
    margin-bottom: 16px;

    text-align: left;
    background: url(img/_0000_图层-1.png);
}

.container_corp * {
    display: inline-block;
}

.container_corp h1 {
    width: .4rem;
    height: 70px;

    margin-top: 10px;
    margin-left: 16px;
    margin-right: 16px;

    font-size: .20rem;
    color: #323333;
    text-align: left;
    vertical-align: top;
    font-weight: 500;

}

.container_corp div {
    height: 48px;

    margin-top: 10px;
    padding-right: 27px;
    padding-left: 27px;
    border-right: solid 1px #e1e1e1;
    border-top: solid 1px #e1e1e1;
    border-bottom: solid 1px #e1e1e1;

    vertical-align: middle;
    background: white;
}

.container_corp div img {
}

.container_corp div {

}

/* container_lesson
-----------------------------------------------------------*/
.container_lesson {

}

.container_lesson * {
    display: inline-block;

}

/* container_lesson_left
---------------------------------------*/
.container_lesson_left {
    width: 240px;
    height: 360px;

    border: 1px solid #d8d8d8;
    margin-right: 11px;
    text-align: left;

    vertical-align: top;
}

.container_lesson_left h1 {
    width: 220px;
    height: 45px;

    border-left: solid 4px #e17e1c;
    padding-left: 16px;

    font-size: .2rem;
    font-weight: 500;
    background: url(img/_0000_图层-1.png);
    line-height: 45px;
    color: #323333;
}

.container_lesson_left ul li {
    width: 225px;
    height: 30px;

    border-bottom: dotted 1px #c5c5c5;
    padding-left: 15px;

    font-size: .12rem;
    line-height: 30px;
    color: #555555;
}

.container_lesson_left ul li a {
    font-size: .16rem;
    text-align: right;
}

/* container_lesson_right
---------------------------------------*/
.container_lesson_right {
    width: 745px;
    height: 360px;

    border: 1px solid #d8d8d8;

}

.container_lesson_right > h1 {
    width: 186px;
    height: 50px;

    border-bottom: 4px solid #e17e1b;
    border-right: solid 1px #e1e1e1;
    margin-bottom: 5px;

    background: url(img/_0000_图层-1.png);
    vertical-align: top;
    font-size: .22rem;
    color: #e17f1b;
    line-height: 50px;
    font-weight: 500;
}

.container_lesson_right > p {
    width: 558px;
    height: 50px;

    border-bottom: 4px solid #cecece;

    vertical-align: top;
    color: #999899;
    font-size: .12rem;
    line-height: 50px;
    text-align: left;
}

.container_lesson_right > p > a {
    width: 96px;
    height: .14rem;
    line-height: .14rem;

    border-right: dotted 1px #bbbbba;

    text-align: center;
    font-size: .14rem;
    cursor: pointer;
}

.container_lesson_right > p > a.first {
    color: #e17f1b;
}

.container_lesson_right > div {
    width: 100%;
    height: 70px;

    margin-top: 5px;

    text-align: left;

}

.container_lesson_right > div > img {
    margin-left: 12px;
}

.container_lesson_right > div > a,
.container_lesson_right > div > p {
    background: url(img/_0000_图层-1.png);
}

.container_lesson_right > div > span {
    height: 36px;

    margin-top: 12px;
    padding-left: 20px;
    padding-right: 10px;

    position: relative;
    left: -16px;
    z-index: -1;

    line-height: 36px;
    font-size: .20rem;
    vertical-align: top;
    color: white;

}

.container_lesson_right > div > a {
    padding-right: 8px;
    padding-left: 8px;
    margin-top: 11px;

    line-height: 38px;
    vertical-align: top;
    font-size: .18rem;
    color: #323333;
}

.container_lesson_right > div > p {
    margin-top: 11px;

    line-height: 38px;

    vertical-align: top;
    font-size: .22rem;
}

/* container_link
-----------------------------------------------------------*/

.container_link {
    width: 100%;
    height: 36px;

    border: 1px solid #d8d8d8;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: left;
}

.container_link * {
    display: inline-block;
}

.container_link h1 {
    width: 100px;
    height: 100%;

    background: #373637;
    margin-right: 10px;

    line-height: 36px;
    font-size: .15rem;
    font-weight: 500;
    color: #ffffff;
    text-align: center;

}

.container_link ul li {
    padding-left: 10px;
    padding-right: 10px;
    border-right: dotted 1px #bcbcbb;

    color: #555555;
    font-size: .12rem;
}

/* footer
-------------------------------------------------------------------------------*/

.footer {
    height: 200px;

    margin-top: 16px;

    background: #2f2f2f;
    text-align: center;
}

.footer * {
    display: inline-block;
}

/* footer_left
-----------------------------------------------------------*/
.footer_left {
    height: 170px;

    margin-top: 16px;
    border-right: solid 1px #4e4f4f;

    font-size: .12rem;
    color: #aaaaaa;
    vertical-align: top;
}

.footer_left > div {
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;

    text-align: left;

}

.footer_left div > * {
    vertical-align: top;
}

.footer_left h1 {
    width: 100%;

    border-bottom: dotted 1px #c5c5c5;
    margin-bottom: 5px;

    line-height: 32px;
    font-size: .12rem;
    color: #ffffff;
    font-weight: 500;
}

.footer_left ul li {
    line-height: 24px;
}

/* footer_right
-----------------------------------------------------------*/
.footer_right {
    margin-left: 25px;

    font-size: .12rem;
    color: #ababab;

}

.footer_right * {
    display: inline-block;
}

.footer_right img {
    margin-right: 24px;
    margin-top: 77px;
}

.footer_right ul {
    width: 150px;
    text-align: left;
}

.footer_right ul li {
    line-height: 20px;
    vertical-align: bottom;

}

